<html>

<head>
  <%- include partials/head.ejs %>
</head><!-- /head -->

  <body>

  <header>
    <%- include partials/header.ejs %>
  </header>

  <div class="fadedkeyright"></div>

    <div class="texttitle"><strong>HOW IT WORKS IN 3 EASY STEPS</strong></div>
      <div class="container">
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title"><strong>1. Create An Account</strong></h1>
              <p class="card-text"> Please provide us some basic details about yourself<br><br>Don't worry, the only thing we will share with potential matches are your <em>username</em> and your <em>about</em> description.
            </div>
            <div class="card-footer">
              <small class="text-muted"></small>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h1 class="card-title"><strong>2. Complete a Questionnaire</strong></h1>
              <p class="card-text">
                Please tell us some essential information about your lifestyle<br><br>We will match you with other users who have similar answers.<br>
            </div>
            <div class="card-footer">
              <small class="text-muted"></small>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h1 class="card-title"><strong>3. Meet your new room<span class="bold red">mate</span></strong></h1>
              <p class="card-text">Browse other users who are also looking for a roommate<br><br>Contact other users and search together for somewhere to live.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>

<h2>Before you find a room in Amsterdam, find a room<span class="bold red">mate</span> in Amsterdam.<h2>
<br>

<div class="texttitle"><strong>ABOUT THE APPLICATION</strong></div>
<br>

<div id="flip">What is this web application?</div>
<div id="panel">
    Finding somewhere to live in Amsterdam is possibly the biggest challenge facing everyone who comes to this city.<br><br>
    My application will try to match up people who are looking for a room in Amsterdam,
    with other people who are looking to find a room in Amsterdam, so that they can search together and hopefully live together.<br><br>
    The idea of my application is that people who are moving to / have just moved to
    Amsterdam can create an account, make a profile for themselves and then will answer
    5 questions about their lifestyle. Based on these answers, the user will be shown
    other users who would be good roommate or an excellent roommate. After this the matched
    users can directly message each other and exchange personal information, and hopefully look for somewhere to live together.</div>

    <br>

<div id="flip2">Why should you use this application?</div>
<div id="panel2">
    When you first arrive in a new city, it can be incredibly intimidating,
    as there is so much to do (setting up a bank account, finding a job, getting a BSN appointment).

    Often people who move here will be on a tight budget of what they can afford so
    this can limit the options of what they can look for.<br><br>

    It can be very difficult, risky and time consuming to search for somewhere to live on your own
    and finding somewhere to live can often be the most stressful part.<br><br>You should not have to do this alone.<br><br>
    You can share knowledge, funding and can search together. That is why you should use the application. </div>

    <br>

<div id="flip3">What are the goals of this application?</div>
<div id="panel3">
    1. Match up people who are trying to find somewhere to live in Amsterdam<br>
    2. Meet new people and make new friends<br>
    3. Increase the number of possibilities for housing which would not have been affordable alone<br>
    4. Ultimately make it easier and less risky for people to find somewhere to live in Amsterdam </div>
    <br>

<div id="flip4">Practical information when searching for a room</div>
<div id="panel4">
    - NEVER send money to someone you have not met in person<br>
    - NEVER sign a contract without actually going into an apartment</div>
    <br>

<footer>
 <%- include partials/footer.ejs %>
</footer>

  </body>

</html>
