<html>

<head>
  <%- include partials/head.ejs %>
</head>

<body>

  <header>
    <%- include partials/header.ejs %>
  </header>

  <div class="texttitle"><strong>WELCOME TO THE WEBSITE!</strong></div>

  <div id="cf2" class="shadow">
    <img class="bottom" src="/src/img/tulip_key_with_text.jpg" width="767" height="400" /><h3>Find a room in Amsterdam</h3>
    <img class="top" id="cf_onclick" src="/src/img/tulip_key_with_text_faded.jpg" width="767" height="400" /><h3>Find a roommate in Amsterdam</h3>
  </div>

  <br><br><br><br><br>
  <br><br><br><br><br>

  <footer>
    <%- include partials/footer.ejs %>
  </footer>

</body>

</html>
