<html>

<head>
  <%- include partials/head.ejs %>
</head>

<body>

  <header>
    <%- include partials/header.ejs %>
  </header>

  <div class="texttitle">
    <strong>Please answer the following questions</strong>
  </div>

  <h4>Tell us about your lifestyle and your intentions. We will use these answers to find your ideal roommate.</h4>

  <div class="container dealsearch">
    <div class="col-lg-12">
      <div class="row">
        <form id="lifestyle" action="/lifestyleconfirmation" method="POST" autocomplete="off">

          <div class="col-lg-12">
            <label class="form-label" for="profession">
                <span class="form-select">
                  <select name="lifestyle_profession" id="lifestyle_profession">
                    <option data-display="Profession">Profession</option>
                    <option value="Full-Time">Full-Time</option>
                    <option value="Part-Time">Part-Time</option>
                    <option value="Student">Student</option>
                  </select>
                </span>
              </label>

            <label class="form-label" for="sleep">
                <span class="form-select">
                  <select name="lifestyle_sleep" id="lifestyle_sleep">
                    <option data-display="Profession">Sleep</option>
                    <option value="Early-Bird">Early-Bird</option>
                    <option value="Night-Owl">Night-Owl</option>
                  </select>
                </span>
              </label>

            <label class="form-label" for="smoking">
                <span class="form-select">
                  <select name="lifestyle_smoking" id="lifestyle_smoking">
                    <option data-display="Smoking">Smoking</option>
                    <option value="Smoker">Smoker</option>
                    <option value="Non-Smoker">Non-Smoker</option>
                  </select>
                </span>
              </label>

            <label class="form-label" for="budget">
                <span class="form-select">
                  <select name="lifestyle_budget" id="lifestyle_budget">
                    <option data-display="Budget">Budget</option>
                    <option value="< €600">< €600</option>
                    <option value="€600-€800">€600 - €800</option>
                    <option value="> €800">> €800</option>
                  </select>
                </span>
              </label>

            <label class="form-label" for="duration">
                <span class="form-select">
                  <select name="lifestyle_duration" id="lifestyle_duration">
                    <option data-display="Duration">Duration</option>
                    <option value="< 6 months">< 6 months</option>
                    <option value="6 - 12 months">6 - 12 months</option>
                    <option value="> 12 months">> 12 months</option>
                  </select>
                </span>
              </label>

          </div>
          <div class="col-lg-12">
            <button type="submit" class="btn btn-hero btn-sm">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <footer>
    <%- include partials/footer.ejs %>
  </footer>

</body>

</html>
