<html>

<head>
  <%- include partials/head.ejs %>
</head><!-- /head -->

<body>

  <header>
    <%- include partials/header.ejs %>
  </header>

  <h1 class="fade">Messages</h1>
  <h1>Under Construction. Coming late 2018</h1>

  <br><br><br><br><br><br>
  <br><br><br><br><br>

  <footer>
    <%- include partials/footer.ejs %>
  </footer>

</body>

</html>
