<div class="footer" id="footer">
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-xs-12">
         <span class="logo">FIND A ROOM<span class="bold red">MATE</span><br> IN AMSTERDAM</span>
      </div>

      <div class="col-lg-3 col-xs-12">
        <h3>Our Mission</h3>
        <ul>
          <li><h6>Living in Amsterdam should be a fun experience, but finding somewhere to live can be a very
          stressful experience. You should not have to go through it alone.</h6>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-xs-12">
        <h3>Our Story</h3>
        <ul>
          <li><h6>Before you find a room in Amsterdam, find a room<span class="bold red">mate</span> in Amsterdam.</h6>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-xs-12">
        <h3>Contact Us</h3>
        <ul>
          <li><h6>Conor Joseph Corey</h6>
          </li>
          <li><h6>+31642284818</h6>
          </li>
          <li><h6>conorjosephcorey@gmail.com</h6>
          </li>
        </ul>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <!-- <div class="float-left">
          <i class="icon fa fa-twitter"></i>
          <i class="icon fa fa-facebook"></i>
          <i class="icon fa fa-google-plus"></i>
          <i class="icon fa fa-instagram"></i>
          <i class="icon fa fa-pinterest"></i>
          <i class="icon fa fa-youtube-play"></i>
        </div> -->
        <br>
        <div class="float-right">
          <p>© BSSA 2018. All right reserved.</p>
        </div>
      </div>
    </div>
   </div> <!-- /container -->
</div>
